
tmp/

tmp/
temp.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# API keys and secrets
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Jupyter Notebook outputs (optional - uncomment if you want to ignore all outputs)
# *.ipynb

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store
